<section id="hero" style="background-color: rgb(232, 240, 232);">
    
            <div class="">
                    <h2>  Welcome To Hospital.... </h2>
                    <h3> Dedicated  To  Discovery <br>....  Committed  To  Care  ....
                </h3>
                    <div>
<img src=slider03.jpg alt="" width="1200px" height="250px">

                    </div>
                        <div>
                            <h5>About the Hospital:</h5>

                         
   <p> "A Place where healing starts <br>  your health is our mission.."</p>
                                        
                                       
                        </div>
            </div>
</section>